body {
  border: 1px solid #333;
  font-style: italic;
  font-family: 'Raleway', serif;
}

li {

  /* text-decoration: none; */
  list-style: none;

}

.item {
  text-transform: uppercase;
}

.text {
  /* font-family: Roboto; */
  font-weight: 400;
  width: 500px;
  word-break: break-all;
  text-indent: 50px;
  text-transform: lowercase;
  font-style: normal;
}